/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Selector for the body of HTML */
body {
    background-color: #ECEEF1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Container for the image which displays the logo of the company */
.logo-container {
    margin-top: 14px;
}

/* The logo of the company itself */
.main-logo {
    width: 138px;
    margin: 0 auto;
    display: block;
}

/* Selector for the div containing the elements below the main logo */
.menu-container {
    text-align: center;
    margin-top: 6px;
}

/* Selector for the text items below the main logo */
.menu-item {
    display: inline; 
    font-size: 20px;
    position: relative;
    bottom: 10px;
}    

/* Selector for the link items */
div span a:link {
    text-decoration: none;
    color: #777;
    font-weight: 300;
}

/* Selector for icons below the main logo */
.menu-logo {
    display: inline;
    width: 35px;
}

/* Container for the form and its elements */
.form-container {
    text-align: center;
    margin: 10px auto 0 auto;
    width: 370px;
    background-color: white;
    border: 1px solid lightgray;
}

/* Selector for learn more link */
div a:link {
    text-decoration: none;
    font-size: 11px;
    color: #0077C5;
}

/* Selector for learn more link when user hovers */
div a:link:hover {
    text-decoration-line: underline;
}

/* Selector for h1 sign in on form */
.signin-form {
    font-weight: 350;
    color: #4C4C4C;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}

/* Selector for text below Sing in header */
.form-text {
    text-align: center;
    font-size: 13px;
    color: #777;
    font-weight: 300;
}

/* Selector for labels inside the form */
label {
    text-align: left;
    display: inline-block;
    margin-right: 180px;
    margin-bottom: 10px;
    margin-top: 34px;
    width: 120px;
    font-weight: 300;
    font-size: 14px;
    color: #404040;
}
/* Selector for inputs inside the form */
input {
    width: 80%;
    height: 30px;
    display: block;
    margin-left: 36px;
    border-radius: 2px;
    border: 1px solid #C1C5C8;
}

/* Selector for checkbox inside the form */
.form-checkbox {
    display: inline;
    background: orange;
    float: left;
    margin-top: 34px;
    width: 19px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Selector for Remember me label inside form */
.form-remember {
    position: relative;
    top: 7px;
    right: 4px;
    font-weight: 400;
}

/* Selector for the Sign In button container */
.button-container {
    position: relative;
}

/* Selector for the Sign In button */
.sign-in-button {
    width: 80%;
    height: 42px;
    background-color: #0077C5;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    position: relative;
    right: 28px;
    font-weight: 300;
}

/* Selector for the padlock icon used in the Sign In button */
.padlock-icon {
    width: 16px;
    position: absolute;
    top: 37px;
    left: 148px;
    z-index: 10;
}